@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.firework {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  box-shadow:
    0 -40px #fff,
    0 40px #fff,
    -40px 0 #fff,
    40px 0 #fff,
    28px 28px #dc2626,
    -28px -28px #2563eb,
    28px -28px #fff,
    -28px 28px #dc2626;
  animation: explode 4s infinite ease-out;
  opacity: 0;
}

.firework1 {
  top: 20%;
  left: 20%;
  animation-delay: 0s;
}

.firework2 {
  top: 35%;
  right: 20%;
  animation-delay: 1.5s;
}

.firework3 {
  top: 15%;
  left: 60%;
  animation-delay: 3s;
}

@keyframes explode {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  15% {
    opacity: .8;
    transform: scale(1);
  }

  35% {
    opacity: .4;
    transform: scale(1.4);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}